.notes-container {
    width: 100%;
    height: 100%;
    background-color: #eeeff3;

    min-width: 500px;
    min-height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        width: 5%;
        height: 5%;
        min-width: 64px;
        min-height: 32px;
        background-color: var(--bgColor);
        border: solid 2px var(--secondaryColor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bolder;
    }
}


.notes-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;

    button {
        width: 1em;
        border-radius: 50%;
    }
}

.notes {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;

    background-color: whitesmoke;
}

.notes-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}
